{% extends 'templates/app_sin_footer.twig' %}

{% block content %}
   <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h3>¿Qué estás buscando ... ?</h3>
				<h1><span>4</span><span>0</span><span>4</span></h1>
			</div>
			<h2>¡Lo siento, la petición solicita no se puede servir ...!</h2>
		</div>
	</div>
{% endblock %}