{% extends 'templates/app.twig' %}

{% set home = 'active' %}

{% block content %}
    <section class="bar background-white">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="box-simple">
                        <div class="icon-outlined"><i class="fa fa-desktop"></i></div>
                        <h3 class="h4">Front-End</h3>
                        <p>Interfaz para acceder a informes, descargables en formato EXCEL.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="box-simple">
                        <div class="icon-outlined"><i class="fas fa-server"></i></div>
                        <h3 class="h4">Back-End</h3>
                        <p>Motor para la obtención de los datos desde distintas fuentes, y preparación del formato del informe para que pueda ser descargado.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="box-simple">
                        <div class="icon-outlined"><i class="fas fa-database"></i></div>
                        <h3 class="h4">PERSISTENCIA DATOS</h3>
                        <p>Los datos origen se encuentran en distintas Base de Datos y su manipulación y estudio se realizará a través de ficheros EXCEL.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="get-it">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center p-3">
                    <h3>Proyecto realizado con SLIM PHP</h3>
                    <p>Descarga el código para su evaluación y prueba</p>
                </div>
                <div class="col-lg-4 text-center p-3">
                    <a href="javascript:void(0)" class="btn btn-template-outlined-white">GitHub</a>
                </div>
            </div>
        </div>
    </div>

    <section class="bg-white bar">
        <div class="container">
          <div class="heading text-center">
            <h2>Aportando Ideas</h2>
          </div>
          <p class="lead">Durante mi trayectoria profesional, me he encontrado con muy diversas problemáticas y distintas formas de solucionarlas. 
          Desde el punto de vista del desarrollo de aplicaciones web, hay para todos los gustos, desde subcontratar desarrollos a medida, pago de licencias de software privativo, usar aplicaciones open source, crear nuestros
          propios desarrollos ... Todo ello dependerá de factores económicos y tiempos, xD!</p>
          <p class="lead">La idea que os presento en este mini-proyecto, y digo 'mini' porque es la presentación de una idea base, que se puede seguir ampliando, y consiste en centralizar la funcionalidad de 
          creación de informes en una única aplicación de gestión, para obtener los datos en formato fichero, por ejemplo un Excel, desde un portal web o bien implementando en otra aplicación un cliente que 
          consuma nuestra API Restful.</p>
        </div>
    </section>

    <div class="get-it">
        <div class="container">
            <div class="row">
                <div id="tip" class="col-xs-12 text-center">
                    <h3>Siéntase libre de enviarme sus comentarios, me servirán como referente de mejora.</h3>
                    <p>
                        <a href="mailto:jpozo@desarrollandocodigo.com">jpozo@desarrollandocodigo.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="bg-white bar end">
          <div class="container">
            <div class="col-lg-4">
              <div class="home-blog-post">
                <div class="image">
                    <i class="fas fa-brain"></i>
                </div>
                <div class="text">
                  <h4><span>Estaba pensando ... </span></h4>
                  <p class="intro">Por qué copiar y reutilizar código que tiene la misma finalidad ... y luego mantenerlo, con la coletilla que todos conocemos ... es que está repetido en un montón de ficheros!</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="home-blog-post">
                <div class="image">
                    <i class="fas fa-satellite-dish"></i>
                </div>
                <div class="text">
                  <h4><span>Desde qué dispositivo ...</span></h4>
                  <p class="intro">Esto es lo bueno de RESTFul, si tienes internet y un navegador ... Reporting!!</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="home-blog-post">
                <div class="image">
                    <i class="fas fa-glass-cheers"></i>
                </div>
                <div class="text">
                  <h4><span>Y por fin ... la idea</span></h4>
                  <p class="intro">Centralizar la gestión de reporting e independizarlo de cualquier proyecto. Esto va a permitir modularización, escalabilidad y un mejor mantenimiento.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>


{% endblock %}