<footer class="footer navbar-fixed-bottom">
    <div class="container">
            <div class="col-xs-12 col-md-4 col-lg-4 center">
                <span class="text-muted"><i class="fas fa-user"></i> Javier Pozo Corbalán | 2019</span>
            </div>
             <div class="col-xs-12 col-md-4 col-lg-4 center">
                 <span><i class="fas fa-envelope"></i> jpozo@desarrollandocodigo.com</span>
            </div>
             <div class="col-xs-12 col-md-4 col-lg-4 center">
                 <span><i class="fas fa-certificate"></i> { "Developer" : [ "Back-End", "Front-End" ] }</span>
            </div>
    </div>
</footer>